spring:
  datasource:
    url: jdbc:postgresql://trolley.proxy.rlwy.net:50091/railway
    username: postgres
    password: DXWzjkShsEIUdlwQnEMjrRfvPKjDEmsg

    hikari:
      pool-name: HikariPool
      maximum-pool-size: 5
      minimum-idle: 1
      max-lifetime: 240000        # 4 minutes (MUST be < Railway idle timeout)
      idle-timeout: 120000        # 2 minutes
      connection-timeout: 30000
      validation-timeout: 5000
      connection-test-query: SELECT 1

  jpa:
#    hibernate:
#      ddl-auto: update
    show-sql: true
    database-platform: org.hibernate.dialect.PostgreSQLDialect

  security:
    oauth2:
      resourceserver:
        jwt:
          issuer-uri: https://sts.windows.net/f7b92ef4-239a-49ad-aff6-679ec33dea08/
          audience: api://8dfa7db6-153c-4137-91c7-4262f361c8c6

server:
  forward-headers-strategy: framework

  tomcat:
    remoteip:
      protocol-header: X-Forwarded-Proto
      remote-ip-header: X-Forwarded-For

logging:
  level:
    org.springframework.web: DEBUG
    org.springframework.security.oauth2: DEBUG

  file:
    path: logs

management:
  endpoints:
    web:
      exposure:
        include: health
  endpoint:
    health:
      show-details: always
