spring:
  datasource:
    url: jdbc:postgresql://nozomi.proxy.rlwy.net:24684/railway
    username: postgres
    password: PfrEGYINXOsMmzLIrjLVUMJJAQuhZxHo

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    database-platform: org.hibernate.dialect.PostgreSQLDialect

  security:
    oauth2:
      client:
        registration:
          azure:
            client-id: 8dfa7db6-153c-4137-91c7-4262f361c8c6
            client-secret: -yY8Q~AIhV2MN-wsdkxzWvciLQC0hG8LRH5flaID
            scope:
              - openid
              - profile
              - email

            # ✅ REQUIRED for CloudFront
            redirect-uri: "https://d33m3dyxosqoxf.cloudfront.net/login/oauth2/code/azure"
            client-name: Azure AD

        provider:
          azure:
            issuer-uri: https://login.microsoftonline.com/f7b92ef4-239a-49ad-aff6-679ec33dea08/v2.0

      resourceserver:
        jwt:
          issuer-uri: https://login.microsoftonline.com/f7b92ef4-239a-49ad-aff6-679ec33dea08/v2.0

server:
  # ✅ REQUIRED so Spring respects HTTPS from CloudFront
  forward-headers-strategy: framework

  tomcat:
    remoteip:
      protocol-header: X-Forwarded-Proto
      remote-ip-header: X-Forwarded-For

jwt:
  secret: eIRIbe+6tVbbcYtOOR/PUpK6YQQ9Psm3YIa+BnBdhG0=
  access-expiration: 900000
  refresh-expiration: 1800000
