spring:
  datasource:
    url: jdbc:postgresql://nozomi.proxy.rlwy.net:24684/railway
    username: postgres
    password: PfrEGYINXOsMmzLIrjLVUMJJAQuhZxHo
  jpa:
    hibernate:
      ddl-auto: update

springdoc:
  api-docs:
    path: /api-docs
  swagger-ui:
    path: /swagger-ui.html
    enabled: true