spring:
  datasource:
    url: jdbc:postgresql://trolley.proxy.rlwy.net:50091/railway
    username: postgres
    password: DXWzjkShsEIUdlwQnEMjrRfvPKjDEmsg

  hikari:
    pool-name: HikariPool
    maximum-pool-size: 5
    minimum-idle: 1
    max-lifetime: 240000        # 4 minutes (MUST be < Railway idle timeout)
    idle-timeout: 120000        # 2 minutes
    connection-timeout: 30000
    validation-timeout: 5000
    connection-test-query: SELECT 1

  jpa:
#    hibernate:
#      ddl-auto: update
    show-sql: true
    database-platform: org.hibernate.dialect.PostgreSQLDialect

  security:
    oauth2:
      client:
        registration:
          azure:
            client-id: 8dfa7db6-153c-4137-91c7-4262f361c8c6
            client-secret: -yY8Q~AIhV2MN-wsdkxzWvciLQC0hG8LRH5flaID
            scope:
              - openid
              - profile
              - email

            redirect-uri: "{baseUrl}/login/oauth2/code/azure"
            client-name: Azure AD

        provider:
          azure:
            issuer-uri: https://login.microsoftonline.com/f7b92ef4-239a-49ad-aff6-679ec33dea08/v2.0

      resourceserver:
        jwt:
          issuer-uri: https://login.microsoftonline.com/f7b92ef4-239a-49ad-aff6-679ec33dea08/v2.0

server:
  forward-headers-strategy: framework

  tomcat:
    remoteip:
      protocol-header: X-Forwarded-Proto
      remote-ip-header: X-Forwarded-For

jwt:
  secret: eIRIbe+6tVbbcYtOOR/PUpK6YQQ9Psm3YIa+BnBdhG0=
  access-expiration: 900000
  refresh-expiration: 1800000

logging:
  level:
    root: INFO
    com.questevent: DEBUG
    org.springframework.security: INFO
    org.hibernate.SQL: DEBUG
    org.hibernate.type.descriptor.sql.BasicBinder: TRACE

  file:
    path: logs

management:
  endpoints:
    web:
      exposure:
        include: health
  endpoint:
    health:
      probes:
        enabled: true


