
# ===============================
# Environment / Secrets
# ===============================
.env
.env.*
*.env

# ===============================
# Maven
# ===============================
target/
*.log
*.tmp

# Gradle
.gradle/
build/

# ===============================
# IntelliJ IDEA
# ===============================
.idea/
*.iml
*.iws
*.ipr
out/

# ===============================
# Eclipse
# ===============================
.project
.classpath
.settings/

# ===============================
# VS Code
# ===============================
.vscode/

# ===============================
# OS files
# ===============================
.DS_Store
Thumbs.db

# ===============================
# Spring Boot
# ===============================
spring.log
hs_err_pid*

# ===============================
# Test / Coverage
# ===============================
*.exec
coverage/

# ===============================
# Application Logs
# ===============================
logs/
**/logs/
