name: Beanstalk CD Deploy

on:
  workflow_run:
    workflows: ["Backend CI"]
    types:
      - completed
    branches:
      - master
      - release-*
  workflow_dispatch:

permissions:
  contents: read

jobs:
  deploy:
    if: ${{ github.event.workflow_run.conclusion == 'success' }}
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Setup Java
        uses: actions/setup-java@v4
        with:
          distribution: temurin
          java-version: 21
          cache: maven

      - name: Build JAR
        working-directory: questevent-backend
        run: mvn -U clean package -DskipTests

      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v3
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: ${{ secrets.AWS_REGION }}

      - name: Upload JAR to S3
        working-directory: questevent-backend
        run: |
          JAR_FILE=$(ls target/*.jar | head -n 1)
          aws s3 cp "$JAR_FILE" s3://questeventproject-deployments/questevent-backend.jar

      - name: Set Version Label (Git Commit SHA)
        run: |
          SHORT_SHA=$(echo "${GITHUB_SHA}" | cut -c1-8)
          echo "VERSION_LABEL=questevent-${SHORT_SHA}" >> $GITHUB_ENV

      - name: Create Elastic Beanstalk Application Version
        run: |
          aws elasticbeanstalk create-application-version \
            --application-name "QuestEventTest" \
            --version-label "$VERSION_LABEL" \
            --source-bundle S3Bucket="questeventproject-deployments",S3Key="questevent-backend.jar" \
            --process

      - name: Wait for Beanstalk Version to be PROCESSED
        run: |
          while true; do
            STATUS=$(aws elasticbeanstalk describe-application-versions \
              --application-name "QuestEventTest" \
              --version-label "$VERSION_LABEL" \
              --query "ApplicationVersions[0].Status" \
              --output text)

            echo "Current status: $STATUS"
            if [ "$STATUS" = "PROCESSED" ]; then
              break
            fi
            sleep 5
          done

      - name: Deploy to Elastic Beanstalk
        run: |
          aws elasticbeanstalk update-environment \
            --application-name "QuestEventTest" \
            --environment-name "QuestEventuTest-env" \
            --version-label "$VERSION_LABEL"
