name: Beanstalk JAR Deploy

on:
  push:
    branches: [ "release-*" ]
  workflow_dispatch:

permissions:
  contents: read

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - uses: actions/setup-java@v4
        with:
          distribution: temurin
          java-version: 21
          cache: maven

      - name: Build JAR
        working-directory: questevent-backend
        run: mvn -U clean package -DskipTests

      - uses: aws-actions/configure-aws-credentials@v3
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: ${{ secrets.AWS_REGION }}

      - name: Upload JAR to S3
        working-directory: questevent-backend
        run: |
          JAR_FILE=$(ls target/*.jar | head -n 1)
          aws s3 cp "$JAR_FILE" s3://questevent-versions/questevent-backend.jar

      - name: Generate Version Label
        run: echo "VERSION_LABEL=questevent-v1.0-${GITHUB_RUN_NUMBER}" >> $GITHUB_ENV

      - name: Create Beanstalk Version
        run: |
          aws elasticbeanstalk create-application-version \
            --application-name "QuestEventTest" \
            --version-label "$VERSION_LABEL" \
            --source-bundle S3Bucket="questevent-versions",S3Key="questevent-backend.jar" \
            --process

      - name: Wait for Version to be PROCESSED
        run: |
          while true; do
            STATUS=$(aws elasticbeanstalk describe-application-versions \
              --application-name "QuestEventTest" \
              --version-labels "$VERSION_LABEL" \
              --query "ApplicationVersions[0].Status" \
              --output text)

            if [ "$STATUS" == "PROCESSED" ]; then
              break
            fi
            sleep 5
          done

      - name: Deploy to Beanstalk
        run: |
          aws elasticbeanstalk update-environment \
            --application-name "QuestEventTest" \
            --environment-name "QuestEventuTest-env" \
            --version-label "$VERSION_LABEL"
