name: My First Pipeline

on:
  push:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Get code from repo
        uses: actions/checkout@v4

      - name: Say hello
        run: echo "Hello from GitHub Actions!"
